@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,500;1,500&family=Roboto:wght@500&family=Tilt+Neon&family=Young+Serif&display=swap');

/* Basic */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Tilt Neon;
    font-size: 16px;

    color: #333;
    background-color: #fff;
}

.base-custom {
    background-color: #80c2af;
}

.shadow-md {
    background: #80c2af;
}

/* End - Basic */

/* Main */
.container-header {
    color: white;
    font-size: 25px;

    border-radius: 15px;
}

.container-subheader {
    border-radius: 15px;
    background-color: white;
}

.container-product-list {
    border-radius: 15px;
    background-color: white;
}

.container-footer {
    border-radius: 15px;
    background-color: white;
}

.container-header,
.container-subheader,
.container-product-list,
.container-footer {
    font-family: Tilt Neon;
    font-weight: bolder;
    font-size: 20px;
}

.container-subheader,
.container-product-list,
.container-footer {
    box-shadow: 5px 5px 15px 0px #5b5b5b;
}

@media screen and (max-width: 575px) {
    .container-subheader,
    .container-product-list,
    .container-footer {
       max-width: calc(100% - 30px);
    }
}

/* End - Main */