<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Flora Vibrante - Iniciar Sesión</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style-login.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/flower-logo.svg') }}" type="image/svg">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/8562bd2fa0.js" crossorigin="anonymous"></script>
</head>

<body>
    <!-- Iniciar Sesión -->
    <section class="vh-100 base-custom">
        <div class="container h-100 container-outer-custom">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card-custom">
                        <div class="card-body card-custom p-5 text-center">
                            <img class="mb-3" src="{{ url_for('static', filename='img/flower-logo.svg') }}" alt=""
                                srcset="">
                            <h1 class="mb-3">Flora Vibrante</h1>
                            {% with messages = get_flashed_messages() %}
                            {% if messages %}
                            {% for message in messages %}
                            <div class="alert alert-warning" role="alert">
                                {{message}}
                            </div>
                            {% endfor %}
                            {% endif %}
                            {% endwith %}
                            <form action="/login" method="POST">
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="usernameInput">
                                        <h4>Usuario</h4>
                                    </label>
                                    <input type="text" id="usernameInput" name="usernameInput"
                                        class="form-control form-control-md" />
                                </div>
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="passwordInput">
                                        <h4>Contraseña</h4>
                                    </label>
                                    <input type="password" id="passwordInput" name="passwordInput"
                                        class="form-control form-control-md" />
                                </div>
                                <button class="btn btn-success btn-md mt-2" type="submit">Iniciar Sesión</button> <br> <br>
                                <a href="{{ url_for('signup') }}" class="link-success">¿No tienes cuenta? Regístrate
                                    aquí</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Iniciar Sesión -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>