<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Flora Vibrante - {%block subtitle %} {% endblock %}</title>
    {% block css_sheets %} {% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style-base.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/flower-logo.svg') }}" type="image/svg">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/8562bd2fa0.js" crossorigin="anonymous"></script>
</head>

<body class="base-custom">
    <div class="content-blur">

        <!-- Navbar -->
        <section class="mt-3">
            <nav class="navbar navbar-custom navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <a class="navbar-brand" href="{{ url_for('dashboard') }}" style="color: #80C2AF;">
                        <img src="{{ url_for('static', filename='img/flower-nav.svg') }}" alt="" width="30" height="24"
                            class="mb-1">
                        Flora Vibrante
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"
                        style="border-radius: 80px;">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse" id="navbarNav">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            {% if current_user.user_type == 1 %}
                            <li class="nav-item">
                                <a class="nav-link active" id="admin-link" aria-current="page"
                                    href="{{ url_for('products') }}">Productos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" id="admin-link" aria-current="page"
                                    href="{{ url_for('users') }}">Usuarios</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" id="admin-link" aria-current="page"
                                    href="{{ url_for('sales') }}">Ventas</a>
                            </li>
                            {% endif %}
                            {% if current_user.user_type == 2 %}
                            <li class="nav-item">
                                <a class="nav-link active" id="readonly-link" aria-current="page"
                                    href="{{ url_for('productsReadOnly') }}">Productos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" id="readonly-link" aria-current="page"
                                    href="{{ url_for('usersReadOnly') }}">Usuarios</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" id="readonly-link" aria-current="page"
                                    href="{{ url_for('salesReadOnly') }}">Ventas</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" id="readonly-link" aria-current="page"
                                    href="{{ url_for('point_sale') }}">Punto (Venta)</a>
                            </li>
                            {% endif %}
                            {% if current_user.user_type == 0 %}
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="{{ url_for('shop_client') }}">
                                    <i class="fa-solid fa-cart-plus " style="color: #80C2AF;"></i>
                                    <span class="badge rounded-pill" id="cart-badge" style="background-color: #80C2AF;">
                                        {{ get_count_shopping_cart }}
                                    </span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" id="" aria-current="page"
                                    href="{{ url_for('receipts') }}">Recibos</a>
                            </li>
                            {% endif %}
                            {% if current_user.user_type == 1 or current_user.user_type == 2 %}
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="{{ url_for('notifications') }}" style="">
                                    {% if get_count_notifications > 0 %}
                                    <style>
                                        .image-container {
                                            display: inline-block; /* Utilizamos flexbox */
                                        }

                                        .image-container img {
                                            margin-right: -24px; /* Para que las imágenes se superpongan */
                                        }

                                        @keyframes fadeInOut {
                                            0% { opacity: 0; }
                                            50% { opacity: 1; }
                                            100% { opacity: 0; }
                                        }

                                        #bell-ring {
                                            animation: fadeInOut 1s ease-in-out infinite; /* Aplica la animación al elemento bell-ring */
                                        }

                                    </style>
                                        <div class="image-container">
                                            <img src="{{ url_for('static', filename='img/bell.svg') }}" alt="" width="20" height="20" class="mb-1">
                                            <img id="bell-ring" src="{{ url_for('static', filename='img/bell-ring.svg') }}" alt="" width="20" height="20" class="mb-1">
                                        </div>
                                        &nbsp &nbsp &nbsp
                                    {% else %}
                                    <img src="{{ url_for('static', filename='img/bell.svg') }}" alt="" width="20"
                                        height="20" class="mb-1">
                                    {% endif %} 
                                    <span class="badge rounded-pill" id="notifications-badge"
                                        style="background-color: #80C2AF; display: inline-flex;">
                                        {{ get_count_notifications }}
                                    </span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" id="special-link" aria-current="page"
                                    href="{{ url_for('webservices_log') }}">Log</a>
                            </li>
                            {% endif %}
                            <li class="nav-item">
                                <a class="nav-link active" id="" aria-current="page"
                                    href="{{ url_for('about') }}">Acerca</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link active dropdown-toggle" href="#" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Bienvenido, &nbsp {{current_user.firstname}} {{current_user.lastname}} &nbsp <i
                                        class="fa-solid fa-user" style="color: #80C2AF;"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="{{ url_for('logout') }}">Cerrar Sesión</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

        </section>
        <!-- Navbar -->

        {% block content %} {% endblock %}

        {% block js_scripts %} {% endblock %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
</body>

</html>