{% extends 'base.html' %}

{% block css_sheets %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style-about.css') }}">
{% endblock %}

{% block subtitle %} Acerca {% endblock %}

{% block content %}
<section class="mt-3">
    <!-- Acerca -->
    <div class="container-custom">
        <div class="row">
            <div class="col-md-8 col-lg-8">
                <div class="inner-sketch"></div>
            </div>
            <div class="col-md-4 col-lg-4">
                <div class="inner-about text-center">
                    <img class="mt-4" src="{{ url_for('static', filename='img/flower-nav.svg') }}" alt="" width="40">
                    <h2 class="mt-3">Acerca de Flora Vibrante</h2>
                    <hr class="border border-success border-2 w-75 mt-3 mb-3 m-auto">
                    <div class="w-75 m-auto inner-text">
                        <p>
                            Flora Vibrante es una empresa dedicada a la venta de plantas de ornato, con el objetivo
                            de brindar un servicio de calidad y satisfacción a nuestros clientes.
                        </p>
                        <p>
                            Contamos con una amplia variedad de plantas de ornato, así como de macetas y accesorios
                            para el cuidado de las mismas.
                        </p>
                        <p>
                            En Flora Vibrante nos preocupamos por el medio ambiente, por lo que todas nuestras
                            plantas son cultivadas de manera orgánica y sustentable.
                        </p>
                        <p>¡Visita nuestra tienda y conoce nuestra gran variedad de plantas!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Acerca -->
</section>
{% endblock %}

{% block js_scripts %}
<script src="{{ url_for('static', filename='js/script-about.js') }}"></script>
{% endblock %}