{% extends 'base.html' %}

{% block css_sheets %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style-dashboard.css') }}">
{% endblock %}

{% block subtitle %} Dashboard {% endblock %}

{% block content %}
<section>
    <!-- Jumbotron  -->
    <div class="card card-custom text-center mt-3" style="border-radius: 15px;">
        <div class="card-header card-header-custom" style="border-radius: 15px 15px 0 0">
        </div>
        <div class="card-body card-body-custom">
            <h5 class="card-title">¡Bienvenido al maravilloso mundo de la jardinería y la flora vibrante!</h5>
            <p class="card-text">En nuestro rincón virtual, te invitamos a explorar la belleza y la diversidad de
                las plantas y flores. Descubre consejos para el cuidado de tu jardín, consejos de diseño y mucho
                más. Si eres un amante de la naturaleza y la jardinería, has llegado al lugar adecuado. ¡Comencemos
                este viaje verde juntos y dejemos que la belleza de la flora nos inspire en cada paso del camino!"
            </p>
            <a href="" class="btn btn-success">Iniciar</a>
        </div>
        <div class="card-footer card-footer-custom text-body-secondary">
            Ultima Actualización: Hace dos días
        </div>
    </div>
    <!-- Jumbotron -->
</section>
{% endblock %}

{% block js_scripts %}
<script src="{{ url_for('static', filename='js/script-dashboard.js') }}"></script>
{% endblock %}