{% extends 'base.html' %}

{% block css_sheets %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style-sales.css') }}">

<!-- Data Tables CSS -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/dataTables.bootstrap4.min.css">

<!-- Query -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<!-- Data Tables JS -->
<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap4.min.js"></script>
{% endblock %}

{% block subtitle %} Ventas {% endblock %}

{% block content %}

<!-- Notificaciones -->
<section>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-warning alert-dismissible fade show mt-3 m-auto" role="alert" style="width: 95%;">
      {{message}}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endfor %}
  {% endif %}
  {% endwith %}
</section>
<!-- Notificaciones -->

<section>
  <!-- Información Rápida -->
  <div class="container-dashboard-header mt-3 m-auto">
    <h1 class="p-3"><i class="fa-solid fa-gauge"></i> - Panel Rápido</h1>
  </div>
  <div class="container-dashboard-custom mt-3 m-auto">
    <div class="row">
      <div class="col-12 col-md-4 col-lg-4 mb-3">
        <div class="container-dashboard-item card text-white bg-success mb-3 h-100">
          <div class="card-header"><i class="fa-solid fa-up-long"></i> - Mejor Venta</div>
          <div class="card-body">
            <h5 class="card-title">
              La orden con identificador: {{ best_sale[0][0] }} y realizada el {{ best_sale[0][1] }}, superó los $ {{
              best_sale[0][2] }}.
            </h5>
            <p class="card-text">
              Aqui se mostrará la mejor venta del día, semana o mes.
            </p>
          </div>
        </div>
      </div>
      <div class="col-21 col-md-4 col-lg-4 mb-3">
        <div class="container-dashboard-item card text-white bg-warning mb-3 h-100">
          <div class="card-header"><i class="fa-solid fa-money-bill"></i> - Ganancias Totales</div>
          <div class="card-body">
            <h5 class="card-title">
              En el presente mes se ha ganado un total de $ {{ total_sales }}.
              Por lo que es un considerable aumento.
            </h5>
            <p class="card-text">
              Aqui se mostrará la cantidad de ventas del día, semana o mes.
            </p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 col-lg-4 mb-3">
        <div class="container-dashboard-item card text-white bg-danger mb-3 h-100">
          <div class="card-header"><i class="fa-solid fa-down-long"></i> - Peor Venta</div>
          <div class="card-body">
            <h5 class="card-title">
              La orden con identificador: {{ worst_sale[0][0] }} y realizada el {{ worst_sale[0][1] }}, generó solo $ {{
              worst_sale[0][2] }}.
            </h5>
            <p class="card-text">
              Aqui se mostrará la mejor venta del día, semana o mes.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Información Rápida -->
</section>

<Section>
  <!-- Lista de Ordenes -->
  <div class="container-output-custom mb-3">
    <h1 class="pt-3 "><i class="fa-solid fa-table-list" style="color: #80c2af;"></i> - Lista de Ordenes</h1>
    <div class="table-responsive">
      <div class="row">
        <div class="col-md-12">
          <table class="table table-striped table-bordered align-middle text-center" id="product-table"
            style="overflow: sc;">
            <thead>
              <tr>
                <th>Id. Orden</th>
                <th>Id. Usuario</th>
                <th>Usuario</th>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Estatus</th>
                <th>Cantidad Total</th>
                <th>Precio Total</th>
                <th>Fecha (Compra)</th>
                <th>Recibo (Compra)</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody id="product-list">
              {% for order in orders %}
              <tr>
                <td>{{ order[0] }}</td>
                <td>{{ order[1] }}</td>
                <td>{{ order[2] }}</td>
                <td>{{ order[3] }}</td>
                <td>{{ order[4] }}</td>
                <td>{{ order[5] }}</td>
                <td>{{ order[6] }}</td>
                <td>$ {{ order[7] }}</td>
                <td>{{ order[8] }}</td>
                <td><a href="{{ url_for('sales_receipt', id=order[0]) }}">receipt_{{ order[0] }}</a></td>
                <td>
                  {% if order[5] == 'Completado' %}
                  <a href="{{ url_for('refund_order', id=order[0]) }}" class="btn btn-warning btn-sm"><i
                      class="fa-solid fa-money-bill-transfer"></i></a>
                  {% endif %}
                  <a href="{{ url_for('delete_order', id=order[0]) }}" class="btn btn-danger btn-sm"><i class="fa-solid fa-trash"></i></a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- Lista de Ordenes -->
</Section>

{% endblock %}

{% block js_scripts %}
<script src="{{ url_for('static', filename='js/script-sales.js') }}"></script>
{% endblock %}