{% extends 'base.html' %}

{% block css_sheets %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style-shop.css') }}">
{% endblock %}

{% block subtitle %} Tienda {% endblock %}

{% block content %}

<section class="mt-3">

    <div class="content-blur">
        <div class="container-custom">

            <!-- Notificaciones -->
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
            <!-- Notificaciones -->

            <div class="row">
                <div class="col-12 col-md-12 col-lg-12">
                    <div class="col-products">
                        <div class="row container-inner-shop m-auto mt-4" id="productList">
                            <!-- Productos -->
                            {% for product in products %}
                            <form class="col-md-6 mb-4" action="/shop/add/{{ product.id }}" method="POST">
                                <div>
                                    <div class="card card-custom">
                                        <img src="{{ url_for('static', filename='img/flower-error-2.svg') if product.url_image == '' else product.url_image }}" class="p-3 m-auto card-img-top card-img-custom"
                                            alt="Producto {{ product.id }}">
                                        <div class="card-body text-center"
                                            style="background-color: #80C2AF; color: white;">
                                            <h5 class="card-title">Producto {{ product.id }} </h5>
                                            <h5 class="card-title">{{ product.name }}</h5>
                                            <p class="card-text">Descripción: {{ product.description }}</p>
                                            <p class="card-text">Precio: $ {{ product.price }}</p>
                                            <div class="input-group">
                                                <input type="number" id="" name="quantityInput_{{ product.id }}"
                                                    class="form-control input-number" value="1" min="1" max="10">
                                            </div>
                                            <button class="btn btn-success add-to-cart" style="margin-top: 20px;"
                                                type="submit">Agregar al cart</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            {% endfor %}
                            <!-- Productos -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
</div>
</div>

{% endblock %}

{% block js_scripts %}
<script src="{{ url_for('static', filename='js/script-shop.js') }}"></script>
{% endblock %}