{% extends 'base.html' %}

{% block css_sheets %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style-shop.css') }}">
{% endblock %}

{% block subtitle %} Tienda {% endblock %}

{% block content %}

<section class="mt-3">

    <div class="content-blur">
        <div class="container-custom">

            <!-- Notificaciones -->
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
            <!-- Notificaciones -->

            <div class="row">
                <div class="col-12 col-md-12 col-lg-6">
                    <div class="col-products">
                        <div class="row container-inner-shop m-auto mt-4" id="productList">
                            <!-- Productos -->
                            {% for product in products %}
                            <form class="col-md-6 mb-4" action="/shop/add/{{ product.id }}" method="POST">
                                <div>
                                    <div class="card card-custom">
                                        <img src="{{ url_for('static', filename='img/flower-error-2.svg') if product.url_image == '' else product.url_image }}" class="p-3 m-auto card-img-top card-img-custom"
                                            alt="Producto {{ product.id }}">
                                        <div class="card-body text-center"
                                            style="background-color: #80C2AF; color: white;">
                                            <h5 class="card-title">Producto {{ product.id }} </h5>
                                            <h5 class="card-title">{{ product.name }}</h5>
                                            <p class="card-text">Descripción: {{ product.description }}</p>
                                            <p class="card-text">Precio: $ {{ product.price }}</p>
                                            <div class="input-group">
                                                <input type="number" id="" name="quantityInput_{{ product.id }}"
                                                    class="form-control input-number" value="1" min="1" max="10">
                                            </div>
                                            <button class="btn btn-success add-to-cart" style="margin-top: 20px;"
                                                type="submit">Agregar al cart</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            {% endfor %}
                            <!-- Productos -->
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-12 col-lg-6">
                    <div class="col-checkout text-center">
                        <!-- Carrito -->
                        <div class="container">
                            <section>
                                <form action="/shop/receipt" method="POST">
                                    <h1 class="pt-3"><i class="fa-solid fa-cart-shopping"></i> - Carrito Floral</h1>
                                    <h4>Subtotal:
                                        <span id="totalCheckout">
                                            {% if get_total_price == None %}
                                            $0
                                            {% else %}
                                            ${{ get_total_price }}
                                            {% endif %}
                                        </span>
                                    </h4>
                                    <hr class="m-auto mb-3 w-75">
                                    <button class="btn btn-success btn-comprar mb-3" type="submit">Comprar - <i
                                            class="fa-solid fa-bag-shopping"></i></button>
                                    <a class="btn btn-danger btn-comprar mb-3"
                                        href="{{ url_for('clear_shopping_cart') }}">Limpiar - <i
                                            class="fa-solid fa-broom"></i></a>
                                </form>
                            </section>
                            <hr class="m-auto mb-3 w-75">
                            <div class="container-fluid" style="overflow: scroll;">
                                {% if is_empty_shopping_cart == 1 %}
                                <h4 class="text-center">
                                    Carrito Floral se encuentra vacío.
                                    Intenta agregar productos para comprar.
                                </h4>
                                <img class="mt-3" src="{{ url_for('static', filename='img/flower-error-2.svg') }}"
                                    width="80" alt="">
                                {% else %}
                                {% for shopping_cart_product in shopping_cart_products %}
                                <div class="list-group">
                                    <a href="#" class="list-group-item list-group-item-action mb-3" aria-current="true">
                                        <div class="d-flex w-100 justify-content-between">
                                            <h5 class="mb-1">{{ shopping_cart_product[1] }}</h5>
                                            <h6>x&nbsp{{ shopping_cart_product[2] }}</h6>
                                        </div>
                                        <h6 id="list-group-item-custom" class="mb-1">Precio Unitario: ${{
                                            shopping_cart_product[3] }}</h6>
                                        <div class="d-flex w-100 justify-content-between">
                                            <h6 id="list-group-item-custom">Precio Total: ${{ shopping_cart_product[4]}}
                                            </h6>
                                            <form action="/shop/remove/{{ shopping_cart_product[0] }}" method="POST">
                                                <button class="btn btn-danger btn-sm mb-2" type="submit"><i
                                                        class="fa-solid fa-trash"></i></button>
                                            </form>
                                        </div>
                                    </a>
                                </div>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                        <!-- Carrito -->
                    </div>
                </div>
            </div>
        </div>
</section>
</div>
</div>

{% endblock %}

{% block js_scripts %}
<script src="{{ url_for('static', filename='js/script-shop.js') }}"></script>
{% endblock %}