{% extends 'base.html' %}

{% block css_sheets %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style-users.css') }}">
{% endblock %}

{% block subtitle %} Usuarios - Eliminar Usuarios {% endblock %}

{% block content %}

<section>
    <!-- Formulario de Eliminar Usuario -->
    <div class="container-input-custom">
        <h1 class="pt-3 mt-3"><i class="fa-solid fa-trash"></i> - Eliminar Usuario</i></h1>
        <div class="row">
            <div class="col-md-12">
                <hr>
                <h4 class="alert-heading">¡Advertencia!</h4>
                <p>¿Estás seguro de eliminar el usuario con identificador "{{ id }}"? Esta acción no se puede revertir.</p>
                <form id="product-form" action="/users/delete/{{ id }}" method="POST">
                    <button type="submit" class="btn btn-danger mt-1">Eliminar</button>
                    <a href="{{ url_for('users') }}" class="btn btn-primary mt-1">Regresar</a>
                </form>
            </div>
        </div>
    </div>
    <!-- Formulario de Eliminar Usuario -->
</section>

{% endblock %}

{% block js_scripts %}
<script src="{{ url_for('static', filename='js/script-users.js') }}"></script>
{% endblock %}