{% extends 'base.html' %}

{% block css_sheets %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style-users.css') }}">

<!-- Data Tables CSS -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/dataTables.bootstrap4.min.css">
<!-- Data Tables CSS -->

<!-- Query -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<!-- Query -->

<!-- Data Tables JS -->
<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap4.min.js"></script>
<!-- Data Tables JS -->
{% endblock %}

{% block subtitle %} Usuarios  {% endblock %}

{% block content %}

<Section>
    <!-- Lista de Usuarios -->
    <div class="container-output-custom mt-3 mb-3">
        <h1 class="pt-3 mt-3"><i class="fa-solid fa-table-list" style="color: #80c2af;"></i> - Lista de Usuarios</h1>
        <div class="table-responsive">
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-striped table-bordered align-middle text-center" id="users-table">
                        <thead>
                            <tr>
                                <th>Identificador</th>
                                <th>Usuario</th>
                                <th>Nombre</th>
                                <th>Apellido</th>
                                <th>Correo Electrónico</th>
                                <th>Teléfono</th>
                                <th>Hora de Inicio</th>
                                <th>Hora de Fin</th>
                            </tr>
                        </thead>
                        <tbody id="product-list">
                            {% for user in users %}
                            <tr>
                                <td>{{ user[0] }}</td>
                                <td>{{ user[1] }}</td>
                                <td>{{ user[3] }}</td>
                                <td>{{ user[4] }}</td>
                                <td>{{ user[5] }}</td>
                                <td>{{ user[7] }}</td>
                                <td>{{ user[8] }}</td>
                                <td>{{ user[9] }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- Lista de Usuarios -->
</Section>

{% endblock %}

{% block js_scripts %}
<script src="{{ url_for('static', filename='js/script-users.js') }}"></script>
{% endblock %}